body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bold;
}

.titulo {
    font-family: cursive;
    font-size: 4em;
    padding: 1%;
    padding-left: 5%;
    color:rgb(42, 51, 37);
    font-weight: normal;
}
#opciones {
    background-color: rgba(245, 245, 245, 0.459);
    margin: 1%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
 }
 legend {
    font-size: 28px;
}
#formularios, #UD{
    background-color: rgba(245, 245, 245, 0.459);
    color:black;
    margin: 1%;
    margin-top: 0;
    padding: 5px;
    padding-bottom: 3%;
}
.btn:hover{
    background-color: rgb(29, 56, 5)!important;
    color: rgb(215, 240, 190);
}





